<div class="ui segment">
  <div class="ui large relaxed animated divided list">
{% for note in noteslist | reverse %}
    <div class="item{% if note.url == url %} active item{% endif %}">
      <div class="content">
        <div class="ui medium header">
          <time class="notelist-date" datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate }}</time> :
          <a href="{{ note.url | url }}" class="notelist-link">{% if note.data.title %}{{ note.data.title }}{% else %}<code>{{ note.url }}</code>{% endif %}</a>
        </div>
        {% for tag in note.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="small compact ui basic button">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
{% endfor %}
  </div>
</div>
