---
layout: layouts/base.njk
templateClass: tmpl-note
---
<div class="ui">
  <h1 class="ui">{{ title }}</h1>
  <div>
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </div>
  <div>
    Tags: {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="ui basic button">{{ tag }}</a>
    {%- endfor %}
  </div>
</div>

{{ content | safe }}

{%- set nextNote = collections.notes | getNextCollectionItem(page) %}
{%- set previousNote = collections.notes | getPreviousCollectionItem(page) %}
{%- if nextNote or previousNote %}
<hr>
<ul>
  {%- if nextNote %}<li>Next: <a href="{{ nextNote.url | url }}">{{ nextNote.data.title }}</a></li>{% endif %}
  {%- if previousNote %}<li>Previous: <a href="{{ previousNote.url | url }}">{{ previousNote.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
