---
layout: layouts/base.njk
templateClass: tmpl-note
---
<div class="ui piled segment">
  <h1 class="ui">{{ title }}</h1>
  <div>
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </div>
  <div>
    Tags: {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="ui small compact basic button">{{ tag }}</a>
    {%- endfor %}
  </div>


{{ content | safe }}

</div>
<div class="ui horizontal link list">
  {%- set nextNote = collections.notes | getNextCollectionItem(page) %}
  {%- set previousNote = collections.notes | getPreviousCollectionItem(page) %}
  {%- if nextNote or previousNote %}
  <div class="item">
    {%- if previousNote %}&lt;&lt;--  <a href="{{ previousNote.url | url }}">{{ previousNote.data.title }}</a>{% endif %}
     &nbsp;&nbsp;|&nbsp;&nbsp;
    {%- if nextNote %}<a href="{{ nextNote.url | url }}">{{ nextNote.data.title }}</a> --&gt;&gt; {% endif %}
  </div>
  {%- endif %}
</div>
