---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.notes.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set noteslist = collections.notes | head(-3) %}
{% set noteslistCounter = collections.notes | length %}
{% include "noteslist.njk" %}

<p>More notes can be found in <a href="{{ '/notes/' | url }}">the archive</a>.</p>
