---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxNotes = collections.notes.length | min(3) %}
<h1>Latest {% if maxNotes == 1 %}Note{% else %}{{ maxNotes }} Notes{% endif %}</h1>

{% set noteslist = collections.notes | head(-3) %}
{% set noteslistCounter = collections.notes | length %}
{% include "noteslist.njk" %}

<p>More notes can be found in <a href="{{ '/notes/' | url }}">the archive</a>.</p>
